* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #222;
}

canvas {
    display: none;
    background-color: #333;
    image-rendering: pixelated;
}

.gameContainer {
    outline: 1px solid #666;
    width: 100vw;
    height: 100vh;
}

#mainMenu button {
    display: block;
    color: white;
    background-color: #444c5c;
    margin-left: auto;
}

#mainMenu {
    background-color: #0a0f2c;
}